body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #3B2F2F;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Handlee', cursive;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #3B2F2F;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Hero.jpeg') no-repeat center / cover;
    height: 50vh;
}

.hero-section h1, .hero-section p {
    color: #FFEBD4;
}

.hero-section btn {
    color: #3B2F2F;
}

footer {
    background-color: #6f4e37;
    color: #ffebd4;
}